<!DOCTYPE html>
    <html lang="esp">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Plantilla de prueba</title>
        <link rel="stylesheet" href="../static/nav-bar-init.css">
    </head>
    <body>
        <header class="header">
            <nav class="nav-bar">
                <div class="logo-home">
                    <a href="#">
                        <img class="logo" src="../static/png/final/Money-control(SIMPLE).SVG" alt="logo-principal">
                    </a>

                </div>
                <div class="nav-options">
                    <ul class="nav-options-list">
                        <li>
                            <a class="link-bar" href="#">                                   
                               <img class="icon" src="../static/png/final/premium.svg">
                                premium</a>
                        </li>
                        <li class="link-bar">
                            |
                        </li>
                        <li class="content-nav-buttons">
                            <button class="nav-buttons">
                                <img class="icon" src="../static/png/final/Notification.svg" alt="Notifications">
                            </button>
                            <button class="nav-buttons">
                                <img class="icon" src="../static/png/final/Accout.svg" alt="Accout">
                            </button>
                            
                            

                        </li>
                    </ul>

                </div>
                <script src="../main/nav-bar-init.js"></script>
            </nav>

        </header>
    </body>