<!DOCTYPE html>
<html lang="esp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plantilla de prueba</title>
    <link rel="stylesheet" href="../static/pdr.css">
</head>
<body>
    <header>
        <nav></nav>
    </header>
    <div class="contenedor-principal">
        <main class="main-flex">
            <div class="contenedor-izquierdo">
                <div class="cuadrado">cuadrado</div>
            </div>
            <div class="contenedor-derecho">
                <div class="cuadrados-derecha">
                    <div class="cuadrado">cuadrado</div>
                    <div class="cuadrado">cuadrado</div>
                    <div class="cuadrado">cuadrado</div>
                    <div class="cuadrado">cuadrado</div>
                    <div class="cuadrado">cuadrado</div>
                    <div class="cuadrado">cuadrado</div>
                    <div class="cuadrado">cuadrado</div>
                    <div class="cuadrado">cuadrado</div>
                    <div class="cuadrado">cuadrado</div>
                    

                </div>
            </div>
        </main>
    </div>
</body>
</html>