<!DOCTYPE html>
<html lang="esp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plantilla de prueba</title>
    <link rel="stylesheet" href="../static/plantilla-registro.css">
</head>
<body>
    <header class="header">
        <nav class="nav-bar">
            <a class="logo-money" href="#">
                <img  src="../static/png/Money-control.png">
            </a>
            <div class="div-list">
                <ul class="nav-list">
                    <li >
                        <a class="link link-p" href="#">
                            Iniciar Sesion
                        </a>
                    </li>
                    <li class="sep">
                        |
                    </li>
                    <li>
                        <a class="link link-p" href="#">
                            Registrarse
                        </a>
                    </li>
    
                </ul>
            </div>
            <div class = "burger-div-button">
                <button id="hamburguesa" class="hamburguesa" onclick="open_close_burger()">
                    <div class="linea">
                    </div>
        
                    <div class="linea">
                    </div>
                    <div class="linea">
                    </div>
                </button>
            </div>
        </nav>
        <div class="div-burger">
            <ul class="menu-hamburguesa" id="menu-h">
                <li>
                    <a class="link link-d" name="link_animate" href="#">Link-1</a>
                </li>
                <li>
                    <a  class="link link-d" name="link_animate" href="#">Link-2</a>
                </li>
                <li>
                    <a class="link link-d" id="link_animate" href="#">Link-3</a>
                </li>
            </ul>
        </div>

    </header>
    <div class="c-sign">
        <main class="main">
            <div class="description">
                <div class="cuadrado">cuadrado</div>
            </div>
            <div class="sign-up">
                <div class="cuadrado">cuadrado</div>
                <div class="cuadrado">cuadrado</div>
                <div class="cuadrado">cuadrado</div>
                <div class="cuadrado">cuadrado</div>
                <div class="cuadrado">cuadrado</div>
                <div class="cuadrado">cuadrado</div>
                <div class="cuadrado">cuadrado</div>
                <div class="cuadrado">cuadrado</div>
                <div class="cuadrado">cuadrado</div>
                <div class="cuadrado">cuadrado</div><div class="cuadrado">cuadrado</div>
            </div>
    
        </main>
    </div>
    <script>
        function open_close_burger () {
            let menu = document.getElementById("menu-h");
            let hamburguesa = document.getElementById("hamburguesa");
            menu.classList.toggle("active-menu-h");
            hamburguesa.classList.toggle("active-h");
        

        }

    </script>
 
</body>
</html>