<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/borrar_usuario" method="post">
        <label for="email">email: </label>
        <input type="text" id="email" name="email" required>

        <label for="contraseña">contraseña: </label>
        <input type="password" id="contrasena" name="contrasena"  required>

        <input type="submit" name="but" value="Enviar">

    </form>
</body>
</html>